<form
  action="/"
  class="form-one border border-[#4D5562] rounded-md p-8 bg-[#212936] w-[450px]"
>
  <h2 class="text-xl font-bold text-[#E5E7EB]">Register</h2>

  <div class="mt-8 flex flex-col gap-1">
    <label for="name" class="text-sm text-[#A1A1A9]">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-one-name rounded-xl w-96 h-10 border-2 px-4 py-5 text-[#E5E7EB] bg-[#212936] border-[#4D5562] focus:outline-none focus:border-[#845EEE]"
      required
      placeholder="enter your name"
    />
  </div>

  <div class="mt-8 flex flex-col gap-1">
    <label for="email" class="text-sm text-[#A1A1A9]">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-one-email rounded-xl w-96 h-10 border-2 px-4 py-5 text-[#4D5562] bg-[#212936] border-[#4D5562] focus:outline-none focus:border-[#845EEE]"
      required
      placeholder="example@gmail.com"
    />
  </div>

  <div class="mt-8 mb-8 flex justify-center">
    <button type="submit" class="bg-[#652CD1] py-2 px-8 rounded-3xl"
      >Continue</button
    >
  </div>
</form>

<script>
  
</script>
