<form
  action="/"
  class="form-two border border-[#4D5562] rounded-md p-8 bg-[#212936] w-[450px] hidden"
>
  <h2 class="text-xl font-bold text-[#E5E7EB]">
    Which topics you are interested in?
  </h2>

  <div class="flex flex-col mt-8 gap-4">
    <div
      class="software-development flex items-center text-sm text-[#A1A1A9] bg-[#394150] border border-[#4D5562] rounded-xl w-96 h-10 px-4 py-5 cursor-pointer"
    >
      <h3>Sofware Development</h3>
    </div>
    <div
      class="user-experience flex items-center text-sm text-[#A1A1A9] bg-[#394150] border border-[#4D5562] rounded-xl w-96 h-10 px-4 py-5 cursor-pointer"
    >
      <h3>User Experience</h3>
    </div>
    <div
      class="graphic-designer flex items-center text-sm text-[#A1A1A9] bg-[#394150] border border-[#4D5562] rounded-xl w-96 h-10 px-4 py-5 cursor-pointer"
    >
      <h3>Graphic Design</h3>
    </div>
  </div>

  <div class="mt-8 mb-8 flex justify-center">
    <button type="submit" class="bg-[#652CD1] py-2 px-8 rounded-3xl"
      >Continue</button
    >
  </div>
</form>

<script></script>
